    /**{*/
    /*    margin: 0;*/
    /*    box-sizing: border-box;*/
    /*}*/


    body{
        font-family: Times, Arial, sans-serif;
        background-color: lightsteelblue;
        text-align: center;

        img{

            width: calc(55% + 2vw);
            height: auto;
            max-width: 100%;
            display: inline-block;
            border: 6px solid black;
        }
    }

    a{
        text-decoration: none;
        color: white;
    }
    /* this makes the credits link blue but keeps my nav links white*/
    #credit{
        color: blue;
    }

    nav {

        background: linear-gradient(to bottom,
        lightsteelblue,
        cadetblue,
        steelblue,
        teal,
        black);
        border: 5px solid white;
        border-radius: 15px;

        h1, p {
            font-size: calc(11 + 3vw);
            font-family: "Arial Rounded MT Bold", Arial, sans-serif;
            text-align: center;
        }

        ul {
            text-align: center;
            display: flex;
            flex-direction: row;
            padding: 8px;
            margin: 0;
            background: dodgerblue;
            border: 5px solid darkslateblue;
            border-radius: 15px;
            font-family: Times, Arial, sans-serif;
        }

        li {
            display: inline-flex;
            padding: 5px 20px;
            align-items: center;


        }

        li:hover {

            background-color: palegreen;
            border-radius: 5px;
            list-style-type: none;
        }
    }


    /* For screens bigger than 750-px: the content should be aligned leb.

    For screens smaller than 750-px: the content should be aligned center.*/


    /* For screens bigger than 750-px: should not exceed 30% of the width of its parent, and
    must be vertical

    For screens smaller than 750-px: should occupy 100% of the width of its parent and
    appear horizontal*/

    @media screen and (max-width: 750px) {

    }