
body{

    background-color: black;

    .drumming-photos img{
        width: calc(30 + 2vw);
        height: auto;
        max-width: 100%;
        display: block;
    }
}

h2{
    font-size: calc(11 + 3vw);
}


a{
    text-decoration: none;
    color: white;
}


nav {

    background: linear-gradient(to bottom,
    lightsteelblue,
    cadetblue,
    steelblue,
    teal,
    black);
    border: 5px solid white;
    border-radius: 15px;

    h1, p {
        font-size: calc(11 + 3vw);
        font-family: "Arial Rounded MT Bold", Arial, sans-serif;
        text-align: center;
    }

    ul {
        text-align: center;
        display: flex;
        flex-direction: row;
        padding: 8px;
        margin: 0;
        background: dodgerblue;
        border: 5px solid darkslateblue;
        border-radius: 15px;
        font-family: Times, Arial, sans-serif;
    }

    li {
        display: inline-flex;
        padding: 5px 20px;
        align-items: center;


    }

    li:hover {

        background-color: palegreen;
        border-radius: 5px;
        list-style-type: none;
    }
}

#credit{
    color: blue;
}

/*@media screen and (max-width: 3000px) {*/
/*    .drumming-photos {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin: auto;*/
/*    }*/
/*}*/

