*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: white;
    text-align: center;
}


h1, p {
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    text-align: left;
}
.header{
    background: linear-gradient(to bottom,
    lightsteelblue,
    cadetblue,
    steelblue,
    teal,
    white);

    border: 3px solid white;

    padding: 0;
    margin: 0 auto;
    text-align: left;

    width: 100%;

}


.github {

    align-content: center;
}

.github img {
    display: block;
    border: 6px solid dimgrey;
    border-radius: 70%;
    max-width: calc(55% + 2vw);
    height: auto;
    margin: auto;

}


.github button {
    display: block;
    margin: 1% auto;
    padding: 20px 20px;
    background-color: midnightblue;
    border: 2px solid yellow;
    border-radius: 25%;
    color: white;
    font-family: "Agave Nerd Font Mono", Arial, sans-serif;

}

.github button:hover {
    background-color: darkslateblue;
    display: inline-block;

}


#page-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    background-color: dimgrey; ;
}
#container{
    font-size: calc(3px + 2vw);
    font-family: Times, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 300vh
}
nav {
    width: 25%;
    border: 10px solid darkslateblue;
    border-radius: 5%;
    padding: 0;
    background: dodgerblue;

}
nav a{
    text-decoration: none; /*gets rid of the link appearance*/
    color: white;
}


nav ul {
    text-align: left;
    font-family: Times, Arial, sans-serif;
    padding: 0;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;


}

nav li {
    border: 3px solid white;
    border-radius: 5%;
    padding: 3% 1%;
    margin: 10vh 2%;


}

nav li:hover {
    color: white;
    background-color: palegreen;
    border-radius: 20%;
    list-style-type: none;
    padding: 0;
    border: 3px solid darkslateblue;
}


.calculator {
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    background-image: url('../../public/images/beautiful-patterns-of-lightning-y9876tmtpwpcmvq0.gif');
    background-repeat: repeat;
    background-size: 100%;
    padding-bottom: 5%;
    color: white;
    margin: auto;
    border: 5px solid yellow;
    border-radius: 5%;
}

.calculator label{
    border: 3px solid yellow;
    border-radius: 5%;
    padding: 0;
}
.calculator input{
    color: white;
    background-color: lightskyblue;
    border-radius: 5%;
    padding: 8px;
}

.calculator button{
    font-family: times, sans-serif;
    background:lightskyblue;
    margin: 2%;
    padding-left: 1%;
    border: 2px solid yellow;
    border-radius: 80%;
}
.calculator button:hover{
    background-color: yellow;
    color: black;
}

.vegeta{
    width: 30vw;
    height: auto;
    border: none;
    margin-right: 0;
    background: linear-gradient(to bottom,yellow,
    white);
    border-radius: 15%;

}

/* styling for smaller screens */

@media screen and (max-width: 750px) {

    /* this header class is used to differentiate the headers of big and small
    screens. There is a difference in the centering and layout when the window
    is stretched or minimized.

    need to changed the squeezing and need to change the nav bar */
    .header h1, p {
        text-align: center;
    }

    #container {
        flex-direction: column;
        height: 190vh;
    }

    nav {
        width: 100%;

    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 1%;
        width: 100%;
        text-align: center;
    }

    nav li {
        margin: 2% 1%;
        padding: 1% .5%;
    }

    .calculator h3, h4{
    padding-bottom: 4%;
    }
    .calculator label, input{
        display:flex;
        flex-direction: column;
        padding-bottom: 2%;
    }

}





